
@{
    ViewBag.Title = "Technisch";
}
@model List<Servicetool2.Models.Deal>

<div id="categorieKeuze">
    <h2 style="text-align:center; color:#ffffff; font-weight: bold; padding: 5px; padding-top: 10px;">
        Storingstool
    </h2>
</div>
<div class="container" id="storingIndexContainer">

    <div class="row">
        <div class="col-3"></div>
        <div class="col-7">
            <p>Op de volgende pagina's is het mogelijk om de details over je probleem te beschrijven. Hierna geven wij een indicatie van een mogelijke oplossing.</p><br />
            <p>Kies hieronder de deal uit van de klant die geholpen gaat worden.</p>
        </div>
        <div class="col-2"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
    <br />
    <ul class="list-group" id="dealKeuze">
        @foreach (var product in Model)
        {
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" value="@product.Id" name="dealLijst" id="@product.DealNaam" aria-label="...">
                @product.DealNaam
            </li>
        }
    </ul>
        </div>
        <div class="col-4"></div>
    </div>
    <br />

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            @Html.ActionLink("Volgende", "StoringtoolEersteKeuze", "Storing", null, new { @class = "btn btn-primary btn-block", onclick = "dealSave()" })
        </div>
        <div class="col-1"></div>
    </div>

</div>
<script src="~/Scripts/technischProbleemKeuzeScript.js"></script>


