@{
    ViewBag.Title = "Technisch";
}

<div id="categorieKeuze">
    <h2 style="text-align:center; color:blue; font-weight: bold; padding: 5px; padding-top: 10px;">
        @ViewData["Error"];
        <br />
        @ViewData["mail"]
        <br />
        @ViewData["Refresh"]
        <br />
        @ViewData["Token"]
    </h2>
</div>

