
@{
    ViewBag.Title = "Technisch";
}
@model List<Servicetool2.Models.Deal>

<div id="categorieKeuze">
    <h2 style="text-align:center; color:#ffffff; font-weight: bold; padding: 5px; padding-top: 10px;">
        Storingstool
    </h2>
</div>
<div class="container" id="storingIndexContainer">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Welkom bij de storingstool van HeatTransformers!</h2>
            <p>Op de volgende pagina's is het mogelijk om een deal uit te kiezen en vervolgens de details over het probleem te beschrijven. Hierna volgt een indicatie van een mogelijke oplossing.</p><br />
        </div>
        <div class="col-1"></div>
    </div>
    <br />
    @using (Html.BeginForm("DealKeuzePagina", "Storing", FormMethod.Post))
    {
        <div class="row">
            <div class="col-4">
                
            </div>
            <div class="col-4">
                <input id="dealveld" type="text" name="deal" /><br /><br />
                <input class="btn-primary btn btn-block" type="submit" id="submit" value="Deal zoeken">
                <label>Vul hierboven de 4 cijfers van de postcode van de deal in</label>
            </div>
            <div class="col-4"></div>

        </div>       
    }
    <br />

    @*<div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            @Html.ActionLink("Storing aangeven zonder deal", "StoringtoolEersteKeuze", "Storing", null, new { @class = "btn btn-primary btn-block" })
        </div>
        <div class="col-1"></div>
    </div>*@

</div>
<script src="~/Scripts/technischScript.js"></script>


