
@{
    ViewBag.Title = "Technisch";
}
@model List<Servicetool2.Models.Deal>

<div id="categorieKeuze">
    <h2 style="text-align:center; color:#ffffff; font-weight: bold; padding: 5px; padding-top: 10px;">
        Storingstool
    </h2>
</div>
<div class="container" id="storingIndexContainer">

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>Welkom bij de storingstool van HeatTransformers!</h2>
            <p>Op de volgende pagina's is het mogelijk om de details over uw probleem te beschrijven. Hierna geven wij een indicatie van een mogelijke oplossing.</p><br />
            <p>Kies hieronder de deal uit van de klant die geholpen gaat worden.</p>
        </div>
        <div class="col-1"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-4"><input id="dealveld" type="text"/><br />
        <button onclick="haalOp()">Haal deals op</button></div>
        <div class="col-4">
            Hier komt de lijst met alle deals!
            <br />
            <ul>
            @foreach (var product in Model)
            {
                
                    <li id="@product.DealNaam" value="@product.DealNaam">@product.DealNaam</li>
                
            }
                </ul>
        </div>
        <div class="col-4"></div>

    </div>
    <br />

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            @Html.ActionLink("Volgende", "StoringtoolEersteKeuze", "Storing", null, new { @class = "btn btn-primary btn-block" })
        </div>
        <div class="col-1"></div>
    </div>

</div>
<script src="~/Scripts/technischScript.js"></script>
<script>
    function haalOp() {

        var postcode = document.getElementById("dealveld").innerHTML;
        var criteria = "HWP | " + postcode;
        $.ajax({
            url: ('https://www.zohoapis.eu/crm/v2/Deals/search?criteria=Deal_Name:starts_with:' + criteria),
            headers: {
                'Authorization': 'Zoho-oauthtoken 1000.f5e0b4f54f97e5b1a211ac1e3928e9eb.b7354211dd1e91e45f8ae444eef42d23'

            },
            dataType: 'json',
            type: 'get',
            success: function (response) {
                console.log(response);
            }
        });
    };

</script>

