
@{
    ViewBag.Title = "StoringtoolToevoegen";
}

<h2>Element toevoegen aan de storingstool</h2>

<div class="container">

    <div class="row">
        <div class="col-lg-3" style="background-color: #d7d7d7 "></div>
        <div id="form1" class="col-lg-6">

            <div class="form-group">
                <label for="categorie">Categorie:</label><br />
                <select class="form-select" name="categorie" id="categorie-select">
                    <option value="">Kies een categorie</option>
                    <option value="Probleem">Probleem</option>
                    <option value="Extravraag">Extra vraag maken</option>
                    <option value="ExtraVraagBewerk">Extra vraag bewerken</option>
                </select> <br /><br />
            </div>

            <div class="Probleem" id="Probleem" name="optie">
                <label for="documents">Voeg een probleem toe aan de storingstool</label>
                <br /><br />
                <label>Probleem:</label><br /><br />
                <input type="text" id="probleemTekst"> <br><br>
                <button id="vraagToevoegenKnop" onclick="elementToevoegen()" class="btn btn-primary">Toevoegen</button>
            </div>


            <div class="Extravraag" id="Extravraag" name="optie">
                <label for="documents">Voeg een extra vraag toe aan de storingstool</label>
                <br /><br />
                <label>Titel:</label><br /><br />
                <input type="text" id="extraTitel"> <br><br>
                <label for="select">Soort veld:<span>*</span></label><br>
                <select name="case" id="extraSoort">
                    <option value="text">Tekstvak</option>
                    <option value="checkbox">Checkbox</option>
                    @*<option value="radioKeuze">Één antwoord</option>
                    <option value="multipleChoice">Meerdere antwoorden</option>*@
                </select><br><br>
                <label>Tekst onder het invulveld:</label><br /><br />
                <input type="text" id="extraOndertext"> <br><br>
                <div id="gerelateerdSectie">
                    <label for="probleem">Gerelateerd probleem</label><br />
                    <select class="form-select" name="probleem" id="probleem-select">
                    </select>
                </div>
                <br />
                <button class="form-control" type="button" onclick="addRelated()">Extra gerelateerd probleem</button><br />
                <button id="vraagToevoegenKnop" onclick="elementToevoegen()" class="btn btn-primary">Toevoegen</button>
            </div>

            <div class="ExtraVraagBewerk" id="ExtraVraagBewerk" name="optie">
                <label for="documents">Bewerk een extra vraag in de storingstool:</label><br /><br />

                <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" id="probleemLijst">
                </div>
                <br />
                @Html.ActionLink("Vraag bewerken", "vraagBewerken", "Storing", null, new { @class = "btn btn-primary btn-block", onclick = "vraagSave();" })
            </div>
        </div>
        <div class="col-lg-3" style="background-color: #d7d7d7 "></div>
    </div>
</div>

<script src="~/Scripts/stroringstoolToevoegenScript.js">

</script>

