
@{
    ViewBag.Title = "TechnischProbleemKeuze";
}

<div class="container">
    <div class="row">
        <label id="infoMeegave"></label>
    </div>
     <br />
    <br />
    <div class="row">
        <div class="col-1">
            @Html.ActionLink("Terug", "StoringtoolEersteKeuze", "Storing", null, new { @class = " btn btn-sm btn-primary" })
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-12 d-grid gap-2" >
            <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" id="probleemLijst">
            </div>
    </div>
        </div>
    <br />
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            @Html.ActionLink("Volgende", "StoringtoolExtravragen", "Storing", null, new { @class = "btn btn-primary btn-block" })
        </div>
        <div class="col-4"></div>
    </div>
</div>

<script src="~/Scripts/technischProbleemKeuzeScript.js"></script>

