
@{
    ViewBag.Title = "storingstoolToevoegen";
}

<h2>Element toevoegen aan de storingstool</h2>

<div class="container">

    <div class="row">

        <div id="form1" class="col-lg-12">

            <div class="form-group">

                <label for="categorie">Categorie:</label><br />
                <select class="form-select" name="categorie" id="categorie-select">
                    <option value="">Kies een categorie</option>
                    <option value="Warmtepomp">Warmtepomp</option>
                    <option value="Ketel">Ketel</option>
                    <option value="Thermostaat">Thermostaat</option>
                    <option value="Probleem">Probleem</option>
                 <!--   <option value="Bonusveld">Extra veld</option> -->
                </select> <br /><br />
            </div>

            <div class="Warmtepomp" id="Warmtepomp" name="optie">
                <label for="documents">Voeg een warmtepomp toe aan de storingstool</label>
                <br /><br />
                <label>Merk:</label><br /><br />
                <input type="text" id="warmtepompMerk"> <br><br>
                <label for="select">Type:<span></span></label><br>
                <input type="text" id="warmtepompType" /><br /><br />
            </div>

            <div class="Ketel" id="Ketel" name="optie">
                <label for="documents">Voeg een ketel toe aan de storingstool</label>
                <br /><br />
                <label>Merk:</label><br /><br />
                <input type="text" id="ketelMerk"> <br><br>
                <label for="select">Type:<span></span></label><br>
                <input type="text" id="ketelType" /><br /><br />
            </div>

            <div class="Thermostaat" id="Thermostaat" name="optie">
                <label for="documents">Voeg een thermostaat toe aan de storingstool</label>
                <br /><br />
                <label>Merk:</label><br /><br />
                <input type="text" id="thermoMerk"> <br><br>
                <label for="select">Type:<span></span></label><br>
                <input type="text" id="thermoType" /><br /><br />
            </div>

            <div class="Probleem" id="Probleem" name="optie">
                <label for="documents">Voeg een probleem toe aan de storingstool</label>
                <br /><br />
                <label>Probleem:</label><br /><br />
                <input type="text" id="probleemTekst"> <br><br>
            </div>

        <!--    <div class="Bonusveld" id="Bonusveld" name="optie">
                <label for="documents">Voeg een nieuw veld toe aan de storingstool</label>
                <br /><br />
                <label>Naam:</label><br /><br />
                <input type="text" id="bonusveldTekst"> <br><br>
                <label for="select">Soort veld:<span>*</span></label><br>
                <select name="case" id="bonusveldType">
                    <option value="text">Tekstvak</option>
                    <option value="radioKeuze">Één antwoord</option>
                    <option value="multipleChoice">Meerdere antwoorden</option>
                </select><br><br>
            </div>
-->
            <button id="vraagToevoegenKnop" onclick="elementToevoegen()" class="btn btn-primary">Toevoegen</button>

        </div>
    </div>
</div>

<script src="~/Scripts/stroringstoolToevoegenScript.js">

</script>

