
@{
    ViewBag.Title = "Technisch";
}

<div id="categorieKeuze">
    <h2 style="text-align:center; color:#ffffff; font-weight: bold; padding: 5px; padding-top: 10px;">
        Storingstool
    </h2>
</div>
<div class="container" id="storingIndexContainer">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2>De ticket is gestuurd!</h2>
            <p>Klik op de knop hieronder om terug te gaan naar het beginscherm.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            @Html.ActionLink("Terug naar het hoofdscherm", "Index", "Home", null, new { @class = "btn btn-primary btn-block" })
        </div>
        <div class="col-2"></div>
    </div>
</div>


