@{
    ViewBag.Title = "Algemeen";
}

<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<div id="algemeenVraagVlak">
    <div id="zoekbalk">
        <input type="text" id="zoekInput" onkeyup="zoekFunctie()" placeholder="Zoeken..">
    </div>
    <br>
    <br>
    <div id="vragenAlgemeen">
        Dit is de plek waar alle vragen komen te staan
        <button onclick="sortFunctie()">Sort</button>
    </div>
    <br>
    <br />
    <div id="accordion">

    </div>



</div>


<script src="~/Scripts/algemeenScript.js">

</script>

