@{
    ViewBag.Title = "Algemeen";
}

<div><h2 style="text-align:center;">Algemene vragen</h2></div>

<div class="container-fluid">
    <div id="algemeenVraagVlak">
        <div id="zoekbalk">
            <input type="text" id="zoekInput" onkeyup="zoekFunctie()" placeholder="Zoeken..">
        </div>
        <br>
        <br>
        <div id="vragenAlgemeen">
            Dit is de plek waar alle vragen komen te staan
        </div>
        <br>
        <br />
        <div id="accordion">

        </div>


    </div>
</div>

<script src="~/Scripts/algemeenScript.js">

</script>