
@{
    ViewBag.Title = "Dashboard";
}
<div class="container-fluid">
    <div id="categorieKeuze">
        <h2 style="text-align:center; color:#ffffff; font-weight: bold; padding: 5px; padding-top: 10px;">
            @ViewBag.id
        </h2>
    </div>
    <div id="algemeenVraagVlak">
        
        <div id="zoekbalk">
            
            <input type="text" id="zoekInput" onkeyup="zoekFunctie()" placeholder="Zoeken..">
        </div>
        <br>
        <br>
        <div id="vragenAlgemeen">
            Dit is de plek waar alle vragen komen te staan
        </div>
        <br>
        <br>
        <div id="accordion">
        </div>
    </div>
</div>

<script src="~/Scripts/DashboardScript.js">

</script>
