
@{
    ViewBag.Title = "Dashboard";
}
<div class="container-fluid">
    <div id="bovenRij">
    <div id="categorieKeuze">
        <h2 style="text-align:center; color:black; font-family: Montserrat; font-weight: bold; padding: 15px; padding-top: 20px;">
            @ViewBag.id
        </h2>
    </div>
        </div>
    <div id="algemeenVraagVlak">
        
        <div id="zoekbalk">
            
            <input type="text" id="zoekInput" onkeyup="zoekFunctie()" placeholder="Zoeken..">
        </div>
        <br>

        <br>
        <br>
        <div id="accordion">
        </div>
    </div>
</div>

<script src="~/Scripts/DashboardScript.js">

</script>
