@{
    ViewBag.Title = "Financieel";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="algemeenVraagVlak">
    <div id="zoekbalk">
        zoekbalk
    </div>
    <br>
    <br>
    <div id="vragenAlgemeen">
        Dit is de plek waar alle vragen komen te staan
    </div>
    <br>
    <br />
    <div id="vragen">
    </div>



</div>

<script src="~/Scripts/financieelScript.js">

</script>