@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="col-12" src="~/Content/HTLogo.png" />   
</div>

<div class="container" id="knoppenHome">
    <div class="row">
        <div class="col-lg-4" id="algemeenDiv">
            @using (Html.BeginForm("Algemeen", "Home"))
            {

                <button onclick="loading()" type="submit" class="homeKnop" style="vertical-align:middle"><span>Algemeen </span></button>

            }
            <p>Algemene vragen over het bedrijf, het bestelproces, warmtepompen en het geluid dat ze maken.</p>
        </div>
        <div class="col-lg-4" id="afsprakenDiv">
            @using (Html.BeginForm("Afspraken", "Home"))
            {

                <button onclick="loading()" type="submit" class="homeKnop" style="vertical-align:middle"><span>Afspraken </span></button>

            }
            <p>Alles wat met afspraken te maken heeft; plannen, verzetten, afzeggen, etc.</p>
        </div>
        <div class="col-lg-4" id="financieelDiv">
            @using (Html.BeginForm("Financieel", "Home"))
            {

                <button onclick="loading()" type="submit" class="homeKnop" style="vertical-align:middle"><span>Financieel </span></button>

            }
            <p>Vragen over offertes, contracten, subsidies en overige financiële zaken.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            @using (Html.BeginForm("Technisch", "Home"))
            {

                <button onclick="loading()" type="submit" class="homeKnop" style="vertical-align:middle"><span>Technisch </span></button>

            }
            <p>Technische problemen, hulp met instellingen en vragen over koeling.</p>
        </div>
        <div class="col-lg-6" id="overigDiv">
            @using (Html.BeginForm("Overig", "Home"))
            {

                <button onclick="loading()" type="submit" class="homeKnop" style="vertical-align:middle"><span>Overig </span></button>

            }
            <p>Overige vragen die niet in de andere categoriën passen.</p>
        </div>
    </div>

</div>

<script src="indexScript.js"></script>