
@{
    ViewBag.Title = "Overig";
}

<h2 style="text-align:center;">Overige vragen</h2>


<div id="algemeenVraagVlak">
    <div id="zoekbalk">
        <input type="text" id="zoekInput" onkeyup="zoekFunctie()" placeholder="Zoeken..">
    </div>
    <br>
    <br>
    <div id="vragenAlgemeen">
        Dit is de plek waar alle vragen komen te staan
        <button onclick="sortFunctie()">Sort</button>
    </div>
    <br>
    <br />
    <div id="accordion">

    </div>



</div>

<script src="~/Scripts/overigScript.js">

</script>