
@{
    ViewBag.Title = "Overzicht";
}

<div class="container-fluid">
    <div id="bovenRij">
    <div id="categorieKeuze">
        <h2 style="text-align:center; color:black; font-weight: bold; padding: 15px; padding-top: 20px;">
            Vragen overzicht
        </h2>
    </div>
        </div>
    <div id="algemeenVraagVlak">
        
        <br>
        <div class="row">
            <div class="col-11"></div>
            <div class="col-1"><div id="zoekbalk">

    <input type="text" id="zoekInput" onkeyup="zoekFunctie()" placeholder="Zoeken..">
</div></div>
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                    <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" id="lijstgroep" style="margin: 10px">
                    </div>
            </div>
            <div class="col-4">
                <div class="row">
                @Html.ActionLink("Vraag toevoegen", "vraagToevoegen", "Home", null, new { @class = "btn btn-primary btn-block", @style = "margin: 10px;" })
                    </div>
                <div class="row">
                    @Html.ActionLink("Vraag bewerken", "vraagBewerken", "Home", null, new { @class = "btn btn-primary btn-block", onclick = "vraagSave();", @style = "margin: 10px; width: 45%; margin-left: 22px;" })
                    <button class="btn btn-danger" style="margin: 10px; float: right; width: 40%; margin-left: 33px;" onclick="verwijderVraag();">Vraag verwijderen</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/OverzichtScript.js">

</script>

