
@{
    ViewBag.Title = "TechnischProbleemKeuze";
}

<div class="container"
     <br />
    <br />
    <div class="row">
        <div class="col-1">
            @Html.ActionLink("Terug", "Technisch", "Home", new { @class = "btn-sm btn-primary" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12 d-grid gap-2" >
            <div class="btn-group-vertical" role="group" aria-label="Basic radio toggle button group" id="probleemLijst">
            </div>
    </div>
        </div>
    <br />
    <div class="row">
        <div class="col-12">
            <button class="btn-lg btn-primary">Door naar de volgende pagina</button>
        </div>
    </div>
</div>

<script src="~/Scripts/technischProbleemKeuzeScript.js"></script>

