
@{
    ViewBag.Title = "Technisch";
}

<div class="container">
    
    <div class="row">
        
        <div class="col-6">
            <h2>Hier komt de storingstool</h2>
        
        </div>
    
    </div>
    
    <br />
    
    <div class="row">
        
        <div class="col-4" >
            <h3>Welke warmtepomp heeft u</h3>
            <select class="form-select" aria-label="Default select example" id="technischWarmtepompen">
                <option selected>Kies een warmtepomp</option>
                
            </select>
        </div>
        
        <div class="col-4" >
            <h3>Welke ketel heeft u</h3>
            <select class="form-select" aria-label="Default select example" id="technischKetels">
                <option selected>Kies een ketel</option>
                
            </select>
            <br />
            <label>Anders:</label><br />
            <input type="text" class="form-control"/>
        </div>
        
        <div class="col-4" >
            <h3>Welke thermostaat heeft u</h3>
            <select class="form-select" aria-label="Default select example" id="technischThermostaten">
                <option selected>Kies een thermostaat</option>
                
            </select>
        </div>
    
    </div>
    
    <br />
    
    <div class="row">
        
        <div class="col-12">
            <button class="btn-lg">@Html.ActionLink("Volgende", "TechnischProbleemKeuze", "Home", new { @class = "dropdown-item" }, new { onclick = "dataOpslaan();" })</button>
        </div>
    
    </div>

</div>

<script src="~/Scripts/technischScript.js"></script>

