
@{
    ViewBag.Title = "vraagToevoegen";
}

<h2>Vraag toevoegen</h2>

<div class="container">
    <div class="row">
<div id="form1" class="col-lg-6">

        <div class="form-group">
            <label for="vraag">Vraag:</label><br>
            <input class="form-control" type="text" id="vraag" name="vraag"><br><br />
        </div>

        <div class="form-group">
            <label for="antwoord">Antwoord:</label><br>
            <textarea class="form-control" rows="3" type="text" id="antwoord" name="antwoord"></textarea><br><br />
        </div>

        <div class="form-group">

            <label for="categorie">Categorie:</label><br />
            <select class="form-select" name="categorie" id="categorie-select">
                <option value="">Kies een categorie</option>
                <option value="Algemeen">Algemeen</option>
                <option value="Afspraken">Afspraken</option>
                <option value="Financieel">Financieel</option>
                <option value="Technisch">Technisch</option>
                <option value="Overig">Overig</option>
            </select> <br /><br />
        </div>

        <button id="vraagToevoegenKnop" onclick="vraagToevoegen()" class="btn btn-primary">Vraag toevoegen</button>

    </div>

    <div id="form2" class="col-lg-6">

        <div class="form-group">

            <label for="trefwoord">Trefwoorden:</label><br />

            <div id="trefwoorden">
                <input class="form-control" type="text" id="trefwoord" name="trefwoord" /> <br /><br />
                <input class="form-control" type="text" id="trefwoord" name="trefwoord" /> <br /><br />
            </div>

            <button class="form-control" type="button" onclick="addTrefwoord()">Extra trefwoord</button><br />
        </div>

        <div class="form-group">

            <div id="gerelateerdSectie">

                <label for="gerelateerd">Gerelateerde vragen</label><br />
                <select class="form-select" name="gerelateerd" id="gerelateerd-select">
                </select>

            </div>

            <br />

            <button class="form-control" type="button" onclick="addRelated()">Extra gerelateerde vraag</button>
        </div>

    </div>
        </div>
    </div>


<script src="~/Scripts/vraagToevoegenScript.js">

</script>

