body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 250px;
}

#navbar {
    background-color: #337ae2;
}

.navbar-nav > li {
    padding-left: 10px;
}

.navbar-nav > li > a {
        font-size: large;
        font-family: Montserrat;
        color: #0f3647;
    }

.navbar-brand {
    font-family: Montserrat;
    color: #0f3647;
}

#knoppenHome {
    text-align: center;
}

.homeKnop {
    display: inline-block;
    border-radius: 4px;
    background-color: #337ae2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#zoekbalk {
    float: right;
}

.showMore {
    font-size: 14px;
    display: block;
    text-decoration: underline;
    cursor: pointer;
}

    .showMore + input {
        display: none;
    }

        .showMore + input + * {
            display: none;
        }

        .showMore + input:checked + * {
            display: block;
        }

#algemeenVraagVlak {
    background-color: lightgrey;
    width: 95%;
    height: 95%;
    overflow: auto;
}

#form1 {
    max-width: 50%;
    float: left;
    padding: 20px;
}

#form2 {
    max-width: 50%;
    float: right;
    padding: 20px;
}


#toevoegenForm {
    padding: 15px;
}

#toevoegenForm label {
    font-size: large;
}

#vraagToevoegenKnop {
    float: left;
}

.btn-block {
    display: block;
    width: 100%;
    background-color: #337ae2;
    color: white;
}

.card-body {
    background-color: white;
}

#kliks {
    float: right;
}