html {
    height: 100%;
    overflow: auto;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 0;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */


pre {
    font-family: Lato;
    font-size: 16px;
    white-space: pre-wrap;
}

.col-lg-8 {
    padding-top: 5px;
}

#row1 {
    background-color: #DCDCDC;
}

p {
    font-family: Lato;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 250px;
}

#navbar {
    background-color: #337ae2 !important;
}

.navbarText {
    
}

.navbar-nav > li {
    padding-left: 20px;
    margin-top: 10px;
}

.img-fluid{
    padding-top: 8px;
    padding-right: 3px;
}

.navbar-nav > li > a{
        font-size: 20px;
        font-family: Montserrat;
        font-weight: bold;
        color: #0f3647;
    }

.container-fluid{
    background-color: #337ae2;

}

#vragenAlgemeen{

    color: white;
}

#accordion {
    padding-bottom: 20px;
}

#form1 {
    background-color: #d7d7d7;
}

#form2 {
    background-color: #d7d7d7;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0 / 50%);
    margin-top: 0px;

}

label {
    font-weight: bold;
}

.navbar-brand {
    font-family: Montserrat;
    font-weight: bold;
    color: #0f3647;
    margin-top: 7px;
}

#knoppenHome {
    text-align: center;
}

select {
    width: 100%;
    text-overflow: ellipsis;
}

.homeKnop {
    display: inline-block;
    border-radius: 4px;
    background-color: #337ae2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

#zoekbalk {
    float: right;
    margin-top: 5px;
}


#form1 {
    max-width: 50%;
    float: left;
    padding: 20px;
}

#form2 {
    max-width: 50%;
    float: right;
    padding: 20px;
}


#toevoegenForm {
    padding: 15px;
}

#toevoegenForm label {
    font-size: large;
}

#vraagToevoegenKnop {
    float: left;
}

.btn-block {
    display: block;
    width: 100%;
    background-color: #337ae2;
    color: white;
}

.card-body {
    background-color: white;
}

#kliks {
    float: right;
}

.col-lg-5 {
    margin-top: 15px;
    margin-bottom: 15px;
}

