
html {
    height: 100%;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-top: 85px;
    padding-bottom: 20px;
    margin: 0;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */

#bovenRij {
    background-color: #dbe6f0;
}

#login {
    font-family: Lato;
}

#create {
    font-family: Lato;
}

pre {
    font-family: Lato;
    font-size: 16px;
    white-space: pre-wrap;
}


.col-lg-8 {
    padding-top: 5px;
}

/*.row {
    margin-bottom: 10px;
}*/

#navbarInhoud {
    position: absolute; 
    left: 32%;
    background-color: #337ae2;
}

#storingIndexContainer {
    background-color: #ECECEC;
    padding: 10px;
}

#eersteKeuze {
    background-color: #ECECEC;
    padding: 10px;
}

#extraPagina {
    background-color: #ECECEC;
}

p {
    font-family: Lato;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 250px;
}

#navbar {
    background-color: #337ae2 !important;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-left: 13%;
}

.navbarText {
    
}

.navbar-nav > li {
    padding-left: 20px;
    margin-top: 10px;
    padding-top: 13px;
}

.img-fluid{
    padding-top: 8px;
    padding-right: 3px;
}

.navbar-nav > li > a{
        font-size: 20px;
        font-family: Montserrat;
        font-weight: bold;
        color: #0f3647;
    }

.navbar-nav .dropdown-menu {
    background-color: #337ae2;
}



.container {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

#vragenAlgemeen{

    color: black;
}

#accordion {
    padding-bottom: 0px;
}

.accordion-item {
    box-shadow: 0px 0px 5px 1px #C2DBED;
    margin: 15px;
}

.accordion-button:not(.collapsed){
    background-color: white;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0 / 50%);
    margin-top: 0px;

}

label {
    font-weight: bold;
}

.navbar-brand {
    font-family: Montserrat;
    font-weight: bold;
    color: #0f3647;
    margin-top: 7px;
}

#knoppenHome {
    text-align: center;
    background-color: #FFFFFF;
}

select {
    width: 100%;
    text-overflow: ellipsis;
}

.homeKnop {
    display: inline-block;
    border-radius: 4px;
    background-color: #337ae2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

#zoekbalk {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}


#form1 {
    max-width: 50%;
    float: left;
    padding: 20px;
}

#form2 {
    max-width: 50%;
    float: right;
    padding: 20px;
}


#toevoegenForm {
    padding: 15px;
}

#toevoegenForm label {
    font-size: large;
}

#vraagToevoegenKnop {
    float: left;
}

#algemeenVraagVlak {
    background-color: #ffffff;
    padding-bottom: 10px;
}

#vraagveld {
    margin-left: 15px;
    font-weight: bold;
}

.btn-block {
    display: block;
    width: 100%;
    background-color: #337ae2;
    color: white;
}

.card-body {
    background-color: white;
}

#kliks {
    float: right;
}

.col-lg-5 {
    margin-top: 15px;
    margin-bottom: 15px;
}


#extraPagina{
    padding: 10px;
}

#row1 {
    border-bottom: 1px solid;
}

#row2 {
    border-bottom: 1px solid;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: white;
}

#row0 {
    border-bottom: 1px solid;
}

#extraPagina #extraVragen .row {
    background-color: #ECECEC;
}

#extraPagina #probleeminfo {
    background-color: white;
}

.btn-group, .btn-group-vertical {
    display: block;
}

input, select, textarea {
    max-width: 500px;
}

#form {
   background-color: #ffffff;
}

.col-6 {
    overflow: hidden;
}

#extraInfo {
    width: 100%
}

input {
    width: -moz-available;
}

input[type="checkbox"]{
    width: auto;
} 

#geenTicket {
    width: -moz-available;
}

#submit {
    width: -moz-available;
}